<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
  <div class="mdc-drawer__header">
    <h1 style="text-decoration: none; color:antiquewhite">WELCOME</h1>
  </div>
  <div class="mdc-drawer__content">
    <div class="user-info">
      <p class="name">Teja sri</p>
      <p class="email">tejasri@example.com</p>
    </div>
    <div class="mdc-list-group">
      <nav class="mdc-list mdc-drawer-menu">
        
        <!-- Dashboard -->
        <div class="mdc-list-item mdc-drawer-item">
          <a class="mdc-drawer-link" href="{% url 'index' %}">
            <i class="fa-solid fa-house mdc-list-item__start-detail mdc-drawer-item-icon" style="font-size:14px;"></i>
            Dashboard
          </a>
        </div>

        <!-- Transactions -->
        <div class="mdc-list-item mdc-drawer-item">
          <a class="mdc-drawer-link" href="{% url 'transaction' %}">
            <i class="fa-solid fa-exchange-alt mdc-list-item__start-detail mdc-drawer-item-icon" style="font-size:14px;"></i>
            Transaction
          </a>
        </div>

        <!-- Loans -->
        <div class="mdc-list-item mdc-drawer-item">
          <a class="mdc-drawer-link" href="{% url 'loans' %}">
            <i class="fa-solid fa-hand-holding-dollar mdc-list-item__start-detail mdc-drawer-item-icon" style="font-size:14px;"></i>
            Loans
          </a>
        </div>

        <!-- Categories -->
        <div class="mdc-list-item mdc-drawer-item">
          <a class="mdc-drawer-link" href="{% url 'categories' %}">
            <i class="fa-solid fa-layer-group mdc-list-item__start-detail mdc-drawer-item-icon" style="font-size:14px;"></i>
            Categories
          </a>
        </div>
      </nav>
    </div>

    <div class="profile-actions">
      <a href="javascript:;"><i class="fa-solid fa-gear" style="font-size:14px;"></i> Settings</a>
      <span class="divider"></span>
      <a href="javascript:;"><i class="fa-solid fa-right-from-bracket" style="font-size:14px;"></i> Logout</a>
    </div>
  </div>
</aside>
